.sprint-game {
  height: calc(100vh - 80px);
  background-color: $color-black;
  color: $color-white;

  .sprint-game-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    .sprint-game_content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;

      .sprint_score {
        display: block;
        font-family: $font-text;
        @include font(50px, 500);
        color: $color-yellow;
        width: 100px;
        text-align: center;
      }

      .words-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .eng-word {
          font-family: $font-text;
          @include font(60px, 300);
          margin: 30px 0 30px 0;
        }

        .translation-word {
          font-family: $font-text;
          @include font(60px, 300);
          color: $color-yellow;
          margin: 0;
        }
      }

      .timer-wrapper {
        display: flex;

        .timer_icon {
          background-image: url(assets/timer.png);
          background-repeat: no-repeat;
          background-size: contain;
          width: 60px;
          height: 60px;
        }

        span {
          font-family: $font-text;
          @include font(50px, 500);
          text-align: center;
        }
      }
    }

    .answers-wrapper {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 60px;

      .btn-correct {
        @extend %font-btn;
        color: $color-green;
        height: 40px;
        width: 110px;
        background-color: $color-black;
        border: 1px solid $color-green;
        border-radius: 10px;
        margin-right: 20px;
        transition: 0.5s;
      }

      .btn-correct:hover {
        background-color: $color-green;
        color: $color-white;
        transition: 0.5s;
      }

      .btn-wrong {
        @extend %font-btn;
        color: $color-red;
        height: 40px;
        width: 110px;
        background-color: $color-black;
        border: 1px solid $color-red;
        border-radius: 10px;
        transition: 0.5s;
      }

      .btn-wrong:hover {
        background-color: $color-red;
        color: $color-white;
        transition: 0.5s;
      }
    }
  }
}
