<section class="audio-game">
  <div class="wrapper audio-game-wrapper">
    <div class="audio-game_content">
      <div class="correct-answer">
        <div class="correct-image"></div>
        <p class="correct-word"></p>
      </div>
      <div class="audio_sound">
        <audio id="audioWord"></audio>
      </div>
      <div class="words-wrapper">
        <button id="1" class="audio-translate"></button>
        <button id="2" class="audio-translate"></button>
        <button id="3" class="audio-translate"></button>
        <button id="4" class="audio-translate"></button>
        <button id="5" class="audio-translate"></button>
      </div>
    </div>
    <div class="overlay">
      <div class="result-wrapper">
        <div class="result-wrapper_content">
          <div class="result-words">
          </div>  
          <div class="result-num">
            <p class="w">Ошибок<span class="wrong-answer">0</span></p>
            <p class="c">Знаю<span class="correct-answer">0</span></p>
          </div>
          <div class="btns-wrapper">
            <button class="again">Eще раз</button>
            <button class="main-page">На главную</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
