<div class="card">
  <div class="card_front" id="wordImage">
    <div class="card_content">
      <h2 id="word"></h2>
      <h3 id="wordTranslate"></h3>
      <h3 id="transcription"></h3>
      <button class="card_sound">
        <audio id="audioWord">
        <audio id="audioMeaning">
        <audio id="audioExample">  
      </button>
    </div>
  </div>
  <div class="card_back">
    <h3>Значение</h3>
    <p id="textMeaning"></p>
    <p id="textMeaningTranslate"></p>
    <h3>Пример</h3>
    <p id="textExample"></p>
    <p id="textExampleTranslate"></p>
  </div>
</div>