<div class="wrapper">
  <div class="footer_content">
      <a class="rss" href="https://rs.school/js/" target="_blank"></a>
    <div class="github-links">
      <a class="git" href="https://github.com/anastasiyavyakunova" target="_blank">AnastasiyaVyakunova</a>
      <a class="git" href="https://github.com/saylance2503" target="_blank">Saylance2503</a>
      <a class="git" href="https://github.com/double-domination" target="_blank">Double-Domination</a>
    </div>
    <p>@ 2022</p>
  </div>
</div>