<!-- SPRINT -->
<template >
  <section class="sprint-game">
    <div class="wrapper sprint-game-wrapper">
      <div class="sprint-game_content">
        <span class="sprint_score">0</span>
        <div class="words-wrapper">
          <p class="eng-word">Capital</p>
          <p class="translation-word">Столица</p>
        </div>
        <div class="timer-wrapper">
          <div class="timer_icon"></div>
          <span>60</span>
        </div>
      </div>
      <div class="answers-wrapper">
        <button class="btn-correct">Верно</button>
        <button class="btn-wrong">Неверно</button>
      </div>
    </div>
  </section>
</template>
