<div class="wrapper">
  <nav class="header_navigation">
    <ul class="navigation">
      <li class="left-item"><a href="#"></a></li>
      <li class="left-item"><a href="main.html">Главная</a></li>
      <li class="left-item"><a class="textbook-link" href="#">Учебник</a></li>
        <ul class="dropdown">
          <li><a href="#">Раздел 1</a></li>
          <li><a href="#">Раздел 2</a></li>
          <li><a href="#">Раздел 3</a></li>
          <li><a href="#">Раздел 4</a></li>
          <li><a href="#">Раздел 5</a></li>
          <li><a href="#">Раздел 6</a></li>
          <li><a href="#">Сложные слова</a></li>
        </ul>
      <li class="right-item"><button class="login">Вход</button></li>
      <li class="right-item"><a href="#">Статистика</a></li>
      <li class="right-item"><a href="#">Мини-игры</a></li>
        <ul class="dropdown">
          <li><a href="#">Аудиовызов</a></li>
          <li><a href="sprint.html">Спринт</a></li>
        </ul>
    </ul>
    <a class="logo" href="#">RS Lang</a>
  </nav> 
</div>
