<ul class="pagination">
  <li><button class="prev-button" id="left"></button></li>
  <li><button class="page-button" id="0">1</button></li>
  <li><button class="page-button"></button></li>
  <li><button class="page-button"></button></li>
  <li><button class="page-button"></button></li>
  <li><button class="page-button"></button></li>
  <li><button class="page-button"></button></li>
  <li><button class="page-button" id="29">30</button></li>
  <li><button class="next-button" id="right"></button></li>
</ul>