<section class="sprint-game">
  <div class="wrapper sprint-game-wrapper">
    <div class="sprint-game_content">
      <span class="sprint_score"></span>
      <div class="words-wrapper">
        <p class="eng-word"></p>
        <p class="translation-word"></p>
      </div>
      <div class="timer-wrapper">
        <div class="timer_icon"></div>
        <span id="timer-sec-left">60</span>
      </div>
    </div>
    <div class="answers-wrapper">
      <button class="btn-correct" id="correct">Верно</button>
      <button class="btn-wrong" id="wrong">Неверно</button>
    </div>
    <div class="overlay">
      <div class="result-wrapper">
        <div class="result-wrapper_content">
          <div class="result-words">
          </div>  
          <div class="result-num">
            <p class="w">Ошибок<span class="wrong-answer">0</span></p>
            <p class="c">Знаю<span class="correct-answer">0</span></p>
          </div>
          <div class="btns-wrapper">
            <button class="again">Eще раз</button>
            <button class="main-page">На главную</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
