/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

.header_navigation a {
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
}

.header_navigation .user-name, .header_navigation .login, .audio-game .audio-game-wrapper .overlay .result-wrapper .result-wrapper_content .btns-wrapper button, .start-game .start-game-wrapper .start-game_content .play-game-btn, .sprint-game .sprint-game-wrapper .answers-wrapper .btn-wrong, .sprint-game .sprint-game-wrapper .answers-wrapper .btn-correct, .overlay .form-wrapper .form-wrapper_content .form-style .form_button {
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(3, 3, 3, 0.7);
  z-index: 10;
  align-items: center;
}
.overlay .form-wrapper {
  width: 500px;
  min-height: 400px;
  margin: 0 auto;
  background-color: #030303;
  color: #ffffff;
}
.overlay .form-wrapper .form-wrapper_content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.overlay .form-wrapper .form-wrapper_content .form-switch-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  align-items: center;
}
.overlay .form-wrapper .form-wrapper_content .form-switch-wrapper .form_switch-button {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  background-color: #030303;
  border: none;
  width: 170px;
  height: 60px;
  transition: 0.5s;
}
.overlay .form-wrapper .form-wrapper_content .form-switch-wrapper .form_switch-button:hover {
  color: #f5df4d;
  transition: 0.5s;
}
.overlay .form-wrapper .form-wrapper_content .form-switch-wrapper .form_exit {
  background-color: transparent;
  border: none;
  background-image: url(assets/svg/white-close.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  transition: 0.5s;
}
.overlay .form-wrapper .form-wrapper_content .form-switch-wrapper .form_exit:hover {
  filter: invert(74%) sepia(78%) saturate(369%) hue-rotate(2deg) brightness(308%) contrast(92%);
  transition: 0.5s;
}
.overlay .form-wrapper .form-wrapper_content .form-switch-wrapper .select {
  border-bottom: 1px solid #f5df4d;
}
.overlay .form-wrapper .form-wrapper_content .form-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overlay .form-wrapper .form-wrapper_content .form-style .title-input {
  float: left;
  width: 330px;
  height: 40px;
  margin: 40px 0 0 0;
  position: relative;
  clear: both;
}
.overlay .form-wrapper .form-wrapper_content .form-style .title-input span {
  width: 100%;
  height: 40px;
  line-height: 40px;
  position: absolute;
  left: 0;
}
.overlay .form-wrapper .form-wrapper_content .form-style .title-input span span {
  position: absolute;
  top: 10px;
  z-index: 1;
  font-family: "Montserrat";
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  color: #ffffff;
  text-indent: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.overlay .form-wrapper .form-wrapper_content .form-style .title-input span:before {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #f5df4d;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.overlay .form-wrapper .form-wrapper_content .form-style .title-input span:after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #f5df4d;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.overlay .form-wrapper .form-wrapper_content .form-style .title-input .wrong:before {
  background-color: #e10505;
}
.overlay .form-wrapper .form-wrapper_content .form-style .title-input .wrong:after {
  background-color: #e10505;
}
.overlay .form-wrapper .form-wrapper_content .form-style input {
  position: relative;
  float: left;
  width: 330px;
  height: 40px;
  padding: 0 10px;
  border: 0;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
}
.overlay .form-wrapper .form-wrapper_content .form-style input:focus {
  outline: 0;
}
.overlay .form-wrapper .form-wrapper_content .form-style input:required + span span,
.overlay .form-wrapper .form-wrapper_content .form-style input:focus + span span {
  position: absolute;
  cursor: initial;
  top: -25px;
  color: #f5df4d;
}
.overlay .form-wrapper .form-wrapper_content .form-style input:required + span:before,
.overlay .form-wrapper .form-wrapper_content .form-style input:focus + span:before {
  width: 50%;
}
.overlay .form-wrapper .form-wrapper_content .form-style input:required + span:after,
.overlay .form-wrapper .form-wrapper_content .form-style input:focus + span:after {
  width: 50%;
}
.overlay .form-wrapper .form-wrapper_content .form-style .form_button {
  color: #ffffff;
  height: 40px;
  width: 220px;
  background-color: #030303;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
  transition: 0.5s;
}
.overlay .form-wrapper .form-wrapper_content .form-style .form_button:hover {
  color: #f5df4d;
  border: 1px solid #f5df4d;
  transition: 0.5s;
  cursor: pointer;
}

.sprint-game {
  height: calc(100vh - 80px);
  background-color: #030303;
  color: #ffffff;
}
.sprint-game .sprint-game-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.sprint-game .sprint-game-wrapper .sprint-game_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.sprint-game .sprint-game-wrapper .sprint-game_content .sprint_score {
  display: block;
  font-family: "Montserrat";
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  color: #f5df4d;
  width: 100px;
  text-align: center;
}
.sprint-game .sprint-game-wrapper .sprint-game_content .words-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.sprint-game .sprint-game-wrapper .sprint-game_content .words-wrapper .eng-word {
  font-family: "Montserrat";
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: 60px;
  margin: 30px 0 30px 0;
}
.sprint-game .sprint-game-wrapper .sprint-game_content .words-wrapper .translation-word {
  font-family: "Montserrat";
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: 60px;
  color: #f5df4d;
  margin: 0;
}
.sprint-game .sprint-game-wrapper .sprint-game_content .timer-wrapper {
  display: flex;
}
.sprint-game .sprint-game-wrapper .sprint-game_content .timer-wrapper .timer_icon {
  background-image: url(assets/timer.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
}
.sprint-game .sprint-game-wrapper .sprint-game_content .timer-wrapper span {
  font-family: "Montserrat";
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
}
.sprint-game .sprint-game-wrapper .answers-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 60px;
}
.sprint-game .sprint-game-wrapper .answers-wrapper .btn-correct {
  color: #b7f54d;
  height: 40px;
  width: 110px;
  background-color: #030303;
  border: 1px solid #b7f54d;
  border-radius: 10px;
  margin-right: 20px;
  transition: 0.5s;
}
.sprint-game .sprint-game-wrapper .answers-wrapper .btn-correct:hover {
  background-color: #b7f54d;
  color: #ffffff;
  transition: 0.5s;
}
.sprint-game .sprint-game-wrapper .answers-wrapper .btn-wrong {
  color: #f58b4d;
  height: 40px;
  width: 110px;
  background-color: #030303;
  border: 1px solid #f58b4d;
  border-radius: 10px;
  transition: 0.5s;
}
.sprint-game .sprint-game-wrapper .answers-wrapper .btn-wrong:hover {
  background-color: #f58b4d;
  color: #ffffff;
  transition: 0.5s;
}

.start-game {
  height: calc(100vh - 80px);
  background-color: #030303;
}
.start-game .start-game-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}
.start-game .start-game-wrapper .half-bg-sprint {
  position: relative;
  background-image: url(assets/sprint-start-page.jpg);
  background-repeat: no-repeat;
  opacity: 0.8;
  width: 45%;
  height: 100%;
}
.start-game .start-game-wrapper .half-bg-audio {
  position: relative;
  background-image: url(assets/audiocall-start-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 45%;
  height: 100%;
}
.start-game .start-game-wrapper .shadow {
  position: absolute;
  height: calc(100vh - 80px);
  width: 100%;
  background: linear-gradient(90deg, #030303 0%, rgba(3, 3, 3, 0.8351715686) 9%, rgba(3, 3, 3, 0.5606617647) 19%, rgba(3, 3, 3, 0.3757878151) 46%, rgba(3, 3, 3, 0.5410539216) 66%, rgba(3, 3, 3, 0.7987570028) 78%, #030303 92%, #030303 100%);
}
.start-game .start-game-wrapper .start-game_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 50%;
  text-align: center;
}
.start-game .start-game-wrapper .start-game_content h2 {
  font-family: "Playfair Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 2px;
  margin: 20px 0;
}
.start-game .start-game-wrapper .start-game_content p {
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  margin: 0 0 60px 0;
}
.start-game .start-game-wrapper .start-game_content .choose-level {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.start-game .start-game-wrapper .start-game_content .choose-level button {
  background-color: transparent;
  border: 0;
  color: #f5df4d;
  font-family: "Montserrat";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  color: #ffffff;
}
.start-game .start-game-wrapper .start-game_content .choose-level .level-chosen {
  border-bottom: 1px solid #f5df4d;
}
.start-game .start-game-wrapper .start-game_content .play-game-btn {
  color: #ffffff;
  height: 40px;
  width: 220px;
  background-color: #030303;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin-top: 60px;
  transition: 0.5s;
}
.start-game .start-game-wrapper .start-game_content .play-game-btn:hover {
  color: #f5df4d;
  border: 1px solid #f5df4d;
  transition: 0.5s;
  cursor: pointer;
}

.audio-game {
  height: calc(100vh - 80px);
  background-color: #030303;
  color: #ffffff;
}
.audio-game .audio-game-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.audio-game .audio-game-wrapper .audio-game_content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.audio-game .audio-game-wrapper .audio-game_content .correct-answer {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.audio-game .audio-game-wrapper .audio-game_content .correct-answer .correct-image {
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 150px;
  border-radius: 50%;
}
.audio-game .audio-game-wrapper .audio-game_content .correct-answer p {
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #f5df4d;
  text-transform: lowercase;
}
.audio-game .audio-game-wrapper .audio-game_content .audio_sound {
  background-image: url(assets/sound.png);
  background-size: contain;
  width: 100px;
  height: 100px;
  transition: 0.5s;
}
.audio-game .audio-game-wrapper .audio-game_content .audio_sound:hover {
  cursor: pointer;
  filter: invert(81%) sepia(38%) saturate(625%) hue-rotate(6deg) brightness(308%) contrast(108%);
  transition: 0.5s;
}
.audio-game .audio-game-wrapper .audio-game_content .mini {
  width: 50px;
  height: 50px;
}
.audio-game .audio-game-wrapper .audio-game_content .words-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 80px;
}
.audio-game .audio-game-wrapper .audio-game_content .words-wrapper .audio-translate {
  background-color: transparent;
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #030303;
  text-transform: lowercase;
  transition: 0.5s;
}
.audio-game .audio-game-wrapper .audio-game_content .words-wrapper .audio-translate:hover {
  color: #f5df4d;
  transition: 0.5s;
}
.audio-game .audio-game-wrapper .audio-game_content .words-wrapper .correct {
  border: 1px solid #b7f54d;
  background-color: #b7f54d;
  color: #ffffff;
  transition: 0.5s;
}
.audio-game .audio-game-wrapper .audio-game_content .words-wrapper .correct:hover {
  color: #ffffff;
}
.audio-game .audio-game-wrapper .audio-game_content .words-wrapper .wrong {
  border: 1px solid #f58b4d;
  background-color: #f58b4d;
  color: #ffffff;
  transition: 0.5s;
}
.audio-game .audio-game-wrapper .audio-game_content .words-wrapper .wrong:hover {
  color: #ffffff;
}
.audio-game .audio-game-wrapper .overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(3, 3, 3, 0.7);
  z-index: 10;
  align-items: center;
}
.audio-game .audio-game-wrapper .overlay .result-wrapper {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: #030303;
  border: 1px solid #f5df4d;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
}
.audio-game .audio-game-wrapper .overlay .result-wrapper .result-wrapper_content {
  display: flex;
  flex-direction: column;
}
.audio-game .audio-game-wrapper .overlay .result-wrapper .result-wrapper_content .result-words {
  display: flex;
  flex-direction: column;
  height: 315px;
  overflow-y: auto;
}
.audio-game .audio-game-wrapper .overlay .result-wrapper .result-wrapper_content .result-words .word-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  width: 100%;
}
.audio-game .audio-game-wrapper .overlay .result-wrapper .result-wrapper_content .result-words .word-wrapper .word-audio {
  background-image: url(assets/sound.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.audio-game .audio-game-wrapper .overlay .result-wrapper .result-wrapper_content .result-words .word-wrapper .word-audio:hover {
  cursor: pointer;
}
.audio-game .audio-game-wrapper .overlay .result-wrapper .result-wrapper_content .result-words .word-wrapper p {
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  color: #ffffff;
  margin: 0;
}
.audio-game .audio-game-wrapper .overlay .result-wrapper .result-wrapper_content .result-words .word-wrapper .correct {
  color: #b7f54d;
}
.audio-game .audio-game-wrapper .overlay .result-wrapper .result-wrapper_content .result-words .word-wrapper .wrong {
  color: #f58b4d;
}
.audio-game .audio-game-wrapper .overlay .result-wrapper .result-wrapper_content .result-num {
  display: flex;
  justify-content: center;
  column-gap: 50px;
}
.audio-game .audio-game-wrapper .overlay .result-wrapper .result-wrapper_content .result-num p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}
.audio-game .audio-game-wrapper .overlay .result-wrapper .result-wrapper_content .result-num .w {
  color: #f58b4d;
}
.audio-game .audio-game-wrapper .overlay .result-wrapper .result-wrapper_content .result-num .c {
  color: #b7f54d;
}
.audio-game .audio-game-wrapper .overlay .result-wrapper .result-wrapper_content .btns-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 50px;
}
.audio-game .audio-game-wrapper .overlay .result-wrapper .result-wrapper_content .btns-wrapper button {
  color: #ffffff;
  height: 40px;
  width: 100px;
  background-color: #030303;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  transition: 0.5s;
}
.audio-game .audio-game-wrapper .overlay .result-wrapper .result-wrapper_content .btns-wrapper button:hover {
  color: #f5df4d;
  border: 1px solid #f5df4d;
  transition: 0.5s;
  cursor: pointer;
}

.textbook {
  background-color: #030303;
}
.textbook .textbook_content {
  margin: 0 auto;
  padding: 20px;
  height: 100%;
}
.textbook .textbook_content .levels_wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px 0 35px 0;
}
.textbook .textbook_content .levels_wrapper .level {
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  color: #ffffff;
  transition: 0.5s;
  background-color: transparent;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  text-align: center;
}
.textbook .textbook_content .levels_wrapper .level:hover,
.textbook .textbook_content .levels_wrapper .active {
  cursor: pointer;
  color: #030303;
  border: 1px solid #f5df4d;
  background-color: #f5df4d;
  transition: 0.5s;
}
.textbook .textbook_content .textbook_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  min-height: calc(100vh - 350px);
}
.textbook .textbook_content .textbook_cards .card {
  position: relative;
  height: 220px;
  width: 350px;
  perspective: 1000px;
}
.textbook .textbook_content .textbook_cards .card .card_front {
  position: absolute;
  backface-visibility: hidden;
  transition: 1s;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
.textbook .textbook_content .textbook_cards .card .card_front .card_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 100%;
  width: 100%;
  color: #ffffff;
  z-index: 2;
}
.textbook .textbook_content .textbook_cards .card .card_front .card_content h2 {
  font-family: "Playfair Display";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 2px;
  margin: 0;
  z-index: 2;
}
.textbook .textbook_content .textbook_cards .card .card_front .card_content h3 {
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin: 0;
  z-index: 2;
}
.textbook .textbook_content .textbook_cards .card .card_front .card_content .btn-card-wrapper {
  display: flex;
  justify-content: space-around;
}
.textbook .textbook_content .textbook_cards .card .card_front .card_content .btn-card-wrapper button {
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  z-index: 2;
  margin: 0 12px;
  transition: 0.5s;
}
.textbook .textbook_content .textbook_cards .card .card_front .card_content .btn-card-wrapper .card_sound {
  background-image: url(assets/sound.png);
}
.textbook .textbook_content .textbook_cards .card .card_front .card_content .btn-card-wrapper .add-studied {
  background-image: url(assets/checkmark.png);
  filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(167deg) brightness(106%) contrast(101%);
}
.textbook .textbook_content .textbook_cards .card .card_front .card_content .btn-card-wrapper .add-difficult {
  background-image: url(assets/plus.png);
  filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(167deg) brightness(106%) contrast(101%);
}
.textbook .textbook_content .textbook_cards .card .card_front .card_content .btn-card-wrapper .card_sound:hover {
  filter: invert(74%) sepia(78%) saturate(369%) hue-rotate(2deg) brightness(308%) contrast(92%);
  transition: 0.5s;
}
.textbook .textbook_content .textbook_cards .card .card_front .card_content .btn-card-wrapper .studied {
  filter: invert(81%) sepia(92%) saturate(350%) hue-rotate(23deg) brightness(97%) contrast(97%);
}
.textbook .textbook_content .textbook_cards .card .card_front .card_content .btn-card-wrapper .hard {
  filter: invert(71%) sepia(35%) saturate(2405%) hue-rotate(325deg) brightness(98%) contrast(96%);
}
.textbook .textbook_content .textbook_cards .card .card_front .card_content .game-result {
  display: none;
  z-index: 2;
  color: #ffffff;
  width: 100%;
  justify-content: space-around;
}
.textbook .textbook_content .textbook_cards .card .card_front .card_content .game-result p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
  margin: 0;
  z-index: 2;
}
.textbook .textbook_content .textbook_cards .card .card_front::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.textbook .textbook_content .textbook_cards .card .card_back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transition: 1s;
  padding: 5px 10px;
}
.textbook .textbook_content .textbook_cards .card .card_back h3 {
  font-family: "Playfair Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  margin: 0 0 7px 0;
}
.textbook .textbook_content .textbook_cards .card .card_back p {
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  margin: 5px 0;
}
.textbook .textbook_content .textbook_cards .card:hover .card_front,
.textbook .textbook_content .textbook_cards .card:hover .card_back {
  cursor: pointer;
}
.textbook .textbook_content .textbook_cards .card_rotator .card_front {
  transform: rotateY(180deg);
}
.textbook .textbook_content .textbook_cards .card_rotator .card_back {
  transform: rotateY(360deg);
}
.textbook .textbook_content .pagination_wrapper {
  display: flex;
  justify-content: center;
  margin: 35px 0;
}
.textbook .textbook_content .pagination_wrapper .pagination {
  display: flex;
  margin: 0;
}
.textbook .textbook_content .pagination_wrapper .pagination button {
  border: none;
  background-color: transparent;
  width: 35px;
  height: 24px;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  transition: 0.5s;
}
.textbook .textbook_content .pagination_wrapper .pagination .prev-button,
.textbook .textbook_content .pagination_wrapper .pagination .next-button {
  background-image: url(assets/arrow.png);
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  background-repeat: no-repeat;
  background-size: contain;
}
.textbook .textbook_content .pagination_wrapper .pagination .prev-button {
  transform: scale(-1, 1);
}
.textbook .textbook_content .pagination_wrapper .pagination .prev-button:hover,
.textbook .textbook_content .pagination_wrapper .pagination .next-button:hover {
  filter: invert(74%) sepia(78%) saturate(369%) hue-rotate(2deg) brightness(108%) contrast(92%);
}
.textbook .textbook_content .pagination_wrapper .pagination .active,
.textbook .textbook_content .pagination_wrapper .pagination button:hover {
  color: #f5df4d;
  transition: 0.5s;
}
.textbook .textbook_content .pagination_wrapper .pagination .more {
  cursor: auto;
}
.textbook .textbook_content .pagination_wrapper .pagination .more:hover {
  color: #ffffff;
}
.textbook .textbook_content .game_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #ffffff;
}
.textbook .textbook_content .game_wrapper h2 {
  display: block;
  font-family: "Playfair Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin: 0;
}
.textbook .textbook_content .game_wrapper p {
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
  text-align: center;
}
.textbook .textbook_content .game_wrapper .game_content {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.textbook .textbook_content .game_wrapper .game_content .game {
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 250px;
  height: 100px;
  color: #ffffff;
  transition: 0.5s;
}
.textbook .textbook_content .game_wrapper .game_content .game h3 {
  font-family: "Playfair Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}
.textbook .textbook_content .game_wrapper .game_content .game-forbidden {
  color: #030303;
  background: #f58b4d;
  border: 1px solid #f58b4d;
}
.textbook .textbook_content .game_wrapper .game_content .game:hover:not(.game-forbidden) {
  cursor: pointer;
  color: #030303;
  background-color: #f5df4d;
  border: 1px solid #f5df4d;
  transition: 0.5s;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #030303;
}

::-webkit-scrollbar-thumb {
  background-color: #f5df4d;
  border-radius: 10px;
}

.header {
  background-color: #030303;
}

.wrapper {
  max-width: 1197px;
  margin: auto;
}

.header_navigation {
  position: relative;
  height: 80px;
}
.header_navigation .left-item {
  float: left;
  padding: 20px;
}
.header_navigation .right-item {
  display: flex;
  align-items: center;
  float: right;
  padding: 20px;
}
.header_navigation a {
  display: block;
  line-height: 40px;
  width: 100px;
  color: #ffffff;
  align-self: center;
  transition: 0.5s;
}
.header_navigation a:hover {
  color: #f5df4d;
  transition: 0.5s;
}
.header_navigation .logo {
  position: absolute;
  left: 50%;
  top: 45%;
  display: block;
  width: 180px;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 33px;
  font-style: normal;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 6px;
  color: #ffffff;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}
.header_navigation .logo:hover {
  color: #ffffff;
}
.header_navigation .login {
  color: #ffffff;
  height: 40px;
  width: 80px;
  background-color: #030303;
  border: 1px solid #ffffff;
  border-radius: 10px;
  transition: 0.5s;
}
.header_navigation .login:hover {
  color: #030303;
  background-color: #f5df4d;
  border: 1px solid #f5df4d;
  transition: 0.5s;
  cursor: pointer;
}
.header_navigation .user-name {
  color: #f5df4d;
  margin: 13px 2px 11px 0;
}
.header_navigation .logout {
  background-image: url(assets/logout.png);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  transition: 0.5s;
}
.header_navigation .logout:hover {
  filter: invert(74%) sepia(78%) saturate(369%) hue-rotate(2deg) brightness(108%) contrast(92%);
}
.header_navigation .dropdown {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 80px;
  background-color: #030303;
  z-index: 99;
  list-style: none;
}
.header_navigation .dropdown li {
  min-width: 110px;
  float: none;
  display: list-item;
  position: relative;
}
.header_navigation .dropdown li a {
  line-height: 30px;
  text-align: center;
}
.header_navigation .dropdown li .d-words {
  line-height: 24px;
  display: none;
}
.header_navigation li:hover > .dropdown {
  display: inherit;
}

.welcome {
  position: relative;
  height: calc(100vh - 80px);
  background-image: url(assets/welcome-bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  z-index: 0;
}
.welcome .welcome_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.welcome .welcome_content h2 {
  display: block;
  width: 880px;
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  z-index: 2;
}
.welcome .welcome_content p {
  display: block;
  width: 560px;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  z-index: 2;
  text-align: center;
}

.welcome:after {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.advantages {
  display: flex;
  height: 100vh;
}
.advantages .advantages_content {
  margin: 0 auto;
}
.advantages .advantages_content h2 {
  display: block;
  font-family: "Playfair Display";
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 80px;
  text-align: start;
  border-bottom: 3px solid #f5df4d;
  margin: 50px auto 70px;
}
.advantages .advantages_content .layout-3-column {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.advantages .advantages_content .layout-3-column .advantage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 400px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  filter: grayscale(1);
  transition: filter 0.5s;
}
.advantages .advantages_content .layout-3-column .advantage .advantage_icon {
  background-repeat: no-repeat;
  background-size: contain;
  width: 130px;
  height: 130px;
  transition: filter 0.5s;
}
.advantages .advantages_content .layout-3-column .advantage .tb-icon {
  background-image: url(assets/textbook-icon.png);
}
.advantages .advantages_content .layout-3-column .advantage .game-icon {
  width: 120px;
  background-image: url(assets/game-icon.png);
}
.advantages .advantages_content .layout-3-column .advantage .stat-icon {
  background-image: url(assets/statistic-icon.png);
}
.advantages .advantages_content .layout-3-column .advantage h4 {
  font-family: "Playfair Display";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin: 20px;
}
.advantages .advantages_content .layout-3-column .advantage p {
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
}
.advantages .advantages_content .layout-3-column .advantage:hover {
  filter: grayscale(0);
  transition: filter 0.5s;
}
.advantages .advantages_content .layout-3-column .advantage:hover .advantage_icon {
  filter: drop-shadow(2px 4px 6px rgba(3, 3, 3, 0.5));
  transition: filter 0.5s;
}

.team {
  display: flex;
  background-color: #030303;
  color: #ffffff;
}
.team .team_content {
  margin: 0 auto;
}
.team .team_content h2 {
  display: block;
  font-family: "Playfair Display";
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  margin: 50px auto 70px;
}
.team .team_content .teammate-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  margin-bottom: 50px;
}
.team .team_content .teammate-wrapper .teammate {
  background-color: #ffffff;
  display: flex;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}
.team .team_content .teammate-wrapper .teammate .teammate_photo {
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 230px;
  border-radius: 50%;
}
.team .team_content .teammate-wrapper .teammate .photo-a {
  background-image: url(assets/Anastasiya-photo.jpg);
}
.team .team_content .teammate-wrapper .teammate .photo-d {
  background-image: url(assets/DD-photo.jpg);
}
.team .team_content .teammate-wrapper .teammate .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #030303;
}
.team .team_content .teammate-wrapper .teammate .text-wrapper h4 {
  font-family: "Playfair Display";
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
  margin: 0;
  margin-bottom: 10px;
}
.team .team_content .teammate-wrapper .teammate .text-wrapper h5 {
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 10px 0;
}
.team .team_content .teammate-wrapper .teammate .text-wrapper a {
  text-decoration: none;
  color: #030303;
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 10px;
  transition: 0.5s;
}
.team .team_content .teammate-wrapper .teammate .text-wrapper a:hover {
  color: #f5df4d;
}
.team .team_content .teammate-wrapper .teammate .text-wrapper h6 {
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;
}
.team .team_content .teammate-wrapper .teammate .text-wrapper p {
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  width: 600px;
  text-align: center;
  margin: 0;
}

.footer {
  background-color: #030303;
}
.footer .footer_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}
.footer .footer_content .rss {
  display: block;
  background-image: url(assets/svg/rs_school_js.svg);
  background-repeat: no-repeat;
  width: 80px;
  height: 30px;
  filter: invert(1);
  transition: 0.5s;
}
.footer .footer_content .github-links {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.footer .footer_content .github-links .git {
  display: block;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
  transition: 0.5s;
}
.footer .footer_content .github-links .git:hover {
  color: #f5df4d;
  transition: 0.5s;
}
.footer .footer_content p {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
}

/*# sourceMappingURL=style.css.map */
